<configuration>
    <!-- File appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Set append to false to rewrite the file each time -->
        <append>false</append>

        <!-- File path -->
        <file>logs/application.log</file>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root level -->
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>